In [2]:
# create sakila database and objects
!mysql < /home/jupyter/sakila/sakila-database.sql
!mysql < /home/jupyter/sakila/sakila-data.sql

In [3]:
# show a list of the tables in the sakila database
!mysql sakila -e "show tables"

+----------------------------+
| Tables_in_sakila           |
+----------------------------+
| actor                      |
| actor_info                 |
| address                    |
| category                   |
| city                       |
| country                    |
| customer                   |
| customer_list              |
| film                       |
| film_actor                 |
| film_category              |
| film_list                  |
| film_text                  |
| inventory                  |
| language                   |
| nicer_but_slower_film_list |
| payment                    |
| rental                     |
| sales_by_film_category     |
| sales_by_store             |
| staff                      |
| staff_list                 |
| store                      |
+----------------------------+

In [4]:
# count the rows in the actor table
!mysql sakila -e "select count(*) from actor"

+----------+
| count(*) |
+----------+
|      200 |
+----------+

In [5]:
# count the rows in the actor_info table
!mysql sakila -e "select count(*) from actor_info"

+----------+
| count(*) |
+----------+
|      200 |
+----------+

In [6]:
# count the rows in the address
!mysql sakila -e "select count(*) from address"

+----------+
| count(*) |
+----------+
|      603 |
+----------+

In [7]:
# count the rows in the category table
!mysql sakila -e "select count(*) from category"

+----------+
| count(*) |
+----------+
|       16 |
+----------+

In [8]:
# count the rows in the city table
!mysql sakila -e "select count(*) from city"

+----------+
| count(*) |
+----------+
|      600 |
+----------+

In [9]:
# display all the columns in the first five rows of actor table
!mysql sakila -e "SELECT * FROM actor LIMIT 5;"

+----------+------------+--------------+---------------------+
| actor_id | first_name | last_name    | last_update         |
+----------+------------+--------------+---------------------+
|        1 | PENELOPE   | GUINESS      | 2006-02-15 04:34:33 |
|        2 | NICK       | WAHLBERG     | 2006-02-15 04:34:33 |
|        3 | ED         | CHASE        | 2006-02-15 04:34:33 |
|        4 | JENNIFER   | DAVIS        | 2006-02-15 04:34:33 |
|        5 | JOHNNY     | LOLLOBRIGIDA | 2006-02-15 04:34:33 |
+----------+------------+--------------+---------------------+

In [10]:
# display all the columns in the first five rows of actor_info table
!mysql sakila -e "SELECT * FROM actor_info LIMIT 5;"

+----------+------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| actor_id | first_name | last_name    | film_info                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              |
+----------+------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|        1 | PENELOPE   | GUINESS      | Animation: ANACONDA CONFESSIONS; Children: LANGUAGE COWBOY; Classics: COLOR PHILADELPHIA, WESTWARD SEABISCUIT; Comedy: VERTIGO NORTHWEST; Documentary: ACADEMY DINOSAUR; Family: KING EVOLUTION, SPLASH GUMP; Foreign: MULHOLLAND BEAST; Games: BULWORTH COMMANDMENTS, HUMAN GRAFFITI; Horror: ELEPHANT TROJAN, LADY STAGE, RULES HUMAN; Music: WIZARD COLDBLOODED; New: ANGELS LIFE, OKLAHOMA JUMANJI; Sci-Fi: CHEAPER CLYDE; Sports: GLEAMING JAWBREAKER                                                                                                                                                             |
|        2 | NICK       | WAHLBERG     | Action: BULL SHAWSHANK; Animation: FIGHT JAWBREAKER; Children: JERSEY SASSY; Classics: DRACULA CRYSTAL, GILBERT PELICAN; Comedy: MALLRATS UNITED, RUSHMORE MERMAID; Documentary: ADAPTATION HOLES; Drama: WARDROBE PHANTOM; Family: APACHE DIVINE, CHISUM BEHAVIOR, INDIAN LOVE, MAGUIRE APACHE; Foreign: BABY HALL, HAPPINESS UNITED; Games: ROOF CHAMPION; Music: LUCKY FLYING; New: DESTINY SATURDAY, FLASH WARS, JEKYLL FROGMEN, MASK PEACH; Sci-Fi: CHAINSAW UPTOWN, GOODFELLAS SALUTE; Travel: LIAISONS SWEET, SMILE EARRING                                                                                     |
|        3 | ED         | CHASE        | Action: CADDYSHACK JEDI, FORREST SONS; Classics: FROST HEAD, JEEPERS WEDDING; Documentary: ARMY FLINTSTONES, FRENCH HOLIDAY, HALLOWEEN NUTS, HUNTER ALTER, WEDDING APOLLO, YOUNG LANGUAGE; Drama: LUCK OPUS, NECKLACE OUTBREAK, SPICE SORORITY; Foreign: COWBOY DOOM, WHALE BIKINI; Music: ALONE TRIP; New: EVE RESURRECTION, PLATOON INSTINCT; Sci-Fi: WEEKEND PERSONAL; Sports: ARTIST COLDBLOODED, IMAGE PRINCESS; Travel: BOONDOCK BALLROOM                                                                                                                                                                        |
|        4 | JENNIFER   | DAVIS        | Action: BAREFOOT MANCHURIAN; Animation: ANACONDA CONFESSIONS, GHOSTBUSTERS ELF; Comedy: SUBMARINE BED; Documentary: BED HIGHBALL, NATIONAL STORY, RAIDERS ANTITRUST; Drama: BLADE POLISH, GREEDY ROOTS; Family: SPLASH GUMP; Horror: TREASURE COMMAND; Music: HANOVER GALAXY, REDS POCUS; New: ANGELS LIFE, JUMANJI BLADE, OKLAHOMA JUMANJI; Sci-Fi: RANDOM GO, SILVERADO GOLDFINGER, UNFORGIVEN ZOOLANDER; Sports: INSTINCT AIRPORT, POSEIDON FOREVER; Travel: BOONDOCK BALLROOM                                                                                                                                      |
|        5 | JOHNNY     | LOLLOBRIGIDA | Action: AMADEUS HOLY, GRAIL FRANKENSTEIN, RINGS HEARTBREAKERS; Animation: SUNRISE LEAGUE; Children: HALL CASSIDY; Comedy: DADDY PITTSBURGH; Documentary: BONNIE HOLOCAUST, METAL ARMAGEDDON, PACIFIC AMISTAD, POCUS PULP; Drama: CHITTY LOCK, CONEHEADS SMOOCHY; Games: FIRE WOLVES; Horror: COMMANDMENTS EXPRESS, LOVE SUICIDES, PATTON INTERVIEW; Music: BANGER PINOCCHIO, HEAVENLY GUN; New: FRONTIER CABIN, RIDGEMONT SUBMARINE; Sci-Fi: DAISY MENAGERIE, GOODFELLAS SALUTE, SOLDIERS EVOLUTION; Sports: GROOVE FICTION, KRAMER CHOCOLATE, STAR OPERATION; Travel: ENOUGH RAGING, ESCAPE METROPOLIS, SMILE EARRING |
+----------+------------+--------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [20]:
# display all the columns in the first five rows of address table
!mysql sakila -e "SELECT * FROM address LIMIT 5;"

+------------+----------------------+----------+----------+---------+-------------+-------------+---------------------------+---------------------+
| address_id | address              | address2 | district | city_id | postal_code | phone       | location                  | last_update         |
+------------+----------------------+----------+----------+---------+-------------+-------------+---------------------------+---------------------+
|          1 | 47 MySakila Drive    | NULL     | Alberta  |     300 |             |             |        >
2]c4\�vۍ��H@     | 2014-09-25 22:30:27 |
|          2 | 28 MySQL Boulevard   | NULL     | QLD      |     576 |             |             |        ��߁$c@N��P"�;�        | 2014-09-25 22:30:09 |
|          3 | 23 Workhaven Lane    | NULL     | Alberta  |     300 |             | 14033335568 |        ��hc4\��~p��H@       | 2014-09-25 22:30:27 |
�4&c@B֮d"�;�     | 2014-09-25 22:30:09 |L     | QLD      |     576 |             | 6172235589  |        [
|          5 | 1913 Hanoi Way       |          | Nagasaki |     463 | 35200       | 28303384290 |        (�7!7`@����_�@@       | 2014-09-25 22:31:53 |
+------------+----------------------+----------+----------+---------+-------------+-------------+---------------------------+---------------------+

In [12]:
# display all the columns in the first five rows of category table
!mysql sakila -e "SELECT * FROM category LIMIT 5;"

+-------------+-----------+---------------------+
| category_id | name      | last_update         |
+-------------+-----------+---------------------+
|           1 | Action    | 2006-02-15 04:46:27 |
|           2 | Animation | 2006-02-15 04:46:27 |
|           3 | Children  | 2006-02-15 04:46:27 |
|           4 | Classics  | 2006-02-15 04:46:27 |
|           5 | Comedy    | 2006-02-15 04:46:27 |
+-------------+-----------+---------------------+

In [13]:
# display all the columns in the first five rows of sales_by_film_category table
!mysql sakila -e "SELECT * FROM sales_by_film_category LIMIT 5;"

+-----------+-------------+
| category  | total_sales |
+-----------+-------------+
| Sports    |     5314.21 |
| Sci-Fi    |     4756.98 |
| Animation |     4656.30 |
| Drama     |     4587.39 |
| Comedy    |     4383.58 |
+-----------+-------------+

In [14]:
# select the rows in sales_by_film_category where the total sales of the store is greater than 4500 units
# order by the total sales value to see the best settling stores.
!mysql sakila -e "SELECT * FROM  sales_by_film_category WHERE total_sales > 4500 ORDER BY total_sales;"

+-----------+-------------+
| category  | total_sales |
+-----------+-------------+
| Drama     |     4587.39 |
| Animation |     4656.30 |
| Sci-Fi    |     4756.98 |
| Sports    |     5314.21 |
+-----------+-------------+

In [15]:
# Insert a row into the end of the actor table with actor_id as 201, first_name as Albert, last_name as Einstein, and last_updated as the current date time
!mysql sakila -e  "INSERT INTO actor (actor_id, first_name, last_name, last_update) VALUES (201, 'Albert', 'Einstein', '2024-09-25 04:34:33')"

In [16]:
# update the actor name of the row where actor_id = 1 to Bob
!mysql sakila -e  "UPDATE actor SET first_name = 'Bob' WHERE actor_id = 1"

In [24]:
# first delete the foreign key that actor id 5 references in the film_actor table
!mysql sakila -e  "DELETE FROM film_actor WHERE actor_id=5"

# then delete the parent key in the parent table
!mysql sakila -e  "DELETE FROM actor WHERE actor_id=5"

In [26]:
# view the actor table to ensure insert, update, and delete edits were made
!mysql sakila -e "SELECT * FROM actor;"

+----------+-------------+-------------+---------------------+
| actor_id | first_name  | last_name   | last_update         |
+----------+-------------+-------------+---------------------+
|        1 | Bob         | GUINESS     | 2024-09-26 15:55:18 |
|        2 | NICK        | WAHLBERG    | 2006-02-15 04:34:33 |
|        3 | ED          | CHASE       | 2006-02-15 04:34:33 |
|        4 | JENNIFER    | DAVIS       | 2006-02-15 04:34:33 |
|        6 | BETTE       | NICHOLSON   | 2006-02-15 04:34:33 |
|        7 | GRACE       | MOSTEL      | 2006-02-15 04:34:33 |
|        8 | MATTHEW     | JOHANSSON   | 2006-02-15 04:34:33 |
|        9 | JOE         | SWANK       | 2006-02-15 04:34:33 |
|       10 | CHRISTIAN   | GABLE       | 2006-02-15 04:34:33 |
|       11 | ZERO        | CAGE        | 2006-02-15 04:34:33 |
|       12 | KARL        | BERRY       | 2006-02-15 04:34:33 |
|       13 | UMA         | WOOD        | 2006-02-15 04:34:33 |
|       14 | VIVIEN      | BERGEN      | 2006-02-15 04:34:33 |
|       15 | CUBA        | OLIVIER     | 2006-02-15 04:34:33 |
|       16 | FRED        | COSTNER     | 2006-02-15 04:34:33 |
|       17 | HELEN       | VOIGHT      | 2006-02-15 04:34:33 |
|       18 | DAN         | TORN        | 2006-02-15 04:34:33 |
|       19 | BOB         | FAWCETT     | 2006-02-15 04:34:33 |
|       20 | LUCILLE     | TRACY       | 2006-02-15 04:34:33 |
|       21 | KIRSTEN     | PALTROW     | 2006-02-15 04:34:33 |
|       22 | ELVIS       | MARX        | 2006-02-15 04:34:33 |
|       23 | SANDRA      | KILMER      | 2006-02-15 04:34:33 |
|       24 | CAMERON     | STREEP      | 2006-02-15 04:34:33 |
|       25 | KEVIN       | BLOOM       | 2006-02-15 04:34:33 |
|       26 | RIP         | CRAWFORD    | 2006-02-15 04:34:33 |
|       27 | JULIA       | MCQUEEN     | 2006-02-15 04:34:33 |
|       28 | WOODY       | HOFFMAN     | 2006-02-15 04:34:33 |
|       29 | ALEC        | WAYNE       | 2006-02-15 04:34:33 |
|       30 | SANDRA      | PECK        | 2006-02-15 04:34:33 |
|       31 | SISSY       | SOBIESKI    | 2006-02-15 04:34:33 |
|       32 | TIM         | HACKMAN     | 2006-02-15 04:34:33 |
|       33 | MILLA       | PECK        | 2006-02-15 04:34:33 |
|       34 | AUDREY      | OLIVIER     | 2006-02-15 04:34:33 |
|       35 | JUDY        | DEAN        | 2006-02-15 04:34:33 |
|       36 | BURT        | DUKAKIS     | 2006-02-15 04:34:33 |
|       37 | VAL         | BOLGER      | 2006-02-15 04:34:33 |
|       38 | TOM         | MCKELLEN    | 2006-02-15 04:34:33 |
|       39 | GOLDIE      | BRODY       | 2006-02-15 04:34:33 |
|       40 | JOHNNY      | CAGE        | 2006-02-15 04:34:33 |
|       41 | JODIE       | DEGENERES   | 2006-02-15 04:34:33 |
|       42 | TOM         | MIRANDA     | 2006-02-15 04:34:33 |
|       43 | KIRK        | JOVOVICH    | 2006-02-15 04:34:33 |
|       44 | NICK        | STALLONE    | 2006-02-15 04:34:33 |
|       45 | REESE       | KILMER      | 2006-02-15 04:34:33 |
|       46 | PARKER      | GOLDBERG    | 2006-02-15 04:34:33 |
|       47 | JULIA       | BARRYMORE   | 2006-02-15 04:34:33 |
|       48 | FRANCES     | DAY-LEWIS   | 2006-02-15 04:34:33 |
|       49 | ANNE        | CRONYN      | 2006-02-15 04:34:33 |
|       50 | NATALIE     | HOPKINS     | 2006-02-15 04:34:33 |
|       51 | GARY        | PHOENIX     | 2006-02-15 04:34:33 |
|       52 | CARMEN      | HUNT        | 2006-02-15 04:34:33 |
|       53 | MENA        | TEMPLE      | 2006-02-15 04:34:33 |
|       54 | PENELOPE    | PINKETT     | 2006-02-15 04:34:33 |
|       55 | FAY         | KILMER      | 2006-02-15 04:34:33 |
|       56 | DAN         | HARRIS      | 2006-02-15 04:34:33 |
|       57 | JUDE        | CRUISE      | 2006-02-15 04:34:33 |
|       58 | CHRISTIAN   | AKROYD      | 2006-02-15 04:34:33 |
|       59 | DUSTIN      | TAUTOU      | 2006-02-15 04:34:33 |
|       60 | HENRY       | BERRY       | 2006-02-15 04:34:33 |
|       61 | CHRISTIAN   | NEESON      | 2006-02-15 04:34:33 |
|       62 | JAYNE       | NEESON      | 2006-02-15 04:34:33 |
|       63 | CAMERON     | WRAY        | 2006-02-15 04:34:33 |
|       64 | RAY         | JOHANSSON   | 2006-02-15 04:34:33 |
|       65 | ANGELA      | HUDSON      | 2006-02-15 04:34:33 |
|       66 | MARY        | TANDY       | 2006-02-15 04:34:33 |
|       67 | JESSICA     | BAILEY      | 2006-02-15 04:34:33 |
|       68 | RIP         | WINSLET     | 2006-02-15 04:34:33 |
|       69 | KENNETH     | PALTROW     | 2006-02-15 04:34:33 |
|       70 | MICHELLE    | MCCONAUGHEY | 2006-02-15 04:34:33 |
|       71 | ADAM        | GRANT       | 2006-02-15 04:34:33 |
|       72 | SEAN        | WILLIAMS    | 2006-02-15 04:34:33 |
|       73 | GARY        | PENN        | 2006-02-15 04:34:33 |
|       74 | MILLA       | KEITEL      | 2006-02-15 04:34:33 |
|       75 | BURT        | POSEY       | 2006-02-15 04:34:33 |
|       76 | ANGELINA    | ASTAIRE     | 2006-02-15 04:34:33 |
|       77 | CARY        | MCCONAUGHEY | 2006-02-15 04:34:33 |
|       78 | GROUCHO     | SINATRA     | 2006-02-15 04:34:33 |
|       79 | MAE         | HOFFMAN     | 2006-02-15 04:34:33 |
|       80 | RALPH       | CRUZ        | 2006-02-15 04:34:33 |
|       81 | SCARLETT    | DAMON       | 2006-02-15 04:34:33 |
|       82 | WOODY       | JOLIE       | 2006-02-15 04:34:33 |
|       83 | BEN         | WILLIS      | 2006-02-15 04:34:33 |
|       84 | JAMES       | PITT        | 2006-02-15 04:34:33 |
|       85 | MINNIE      | ZELLWEGER   | 2006-02-15 04:34:33 |
|       86 | GREG        | CHAPLIN     | 2006-02-15 04:34:33 |
|       87 | SPENCER     | PECK        | 2006-02-15 04:34:33 |
|       88 | KENNETH     | PESCI       | 2006-02-15 04:34:33 |
|       89 | CHARLIZE    | DENCH       | 2006-02-15 04:34:33 |
|       90 | SEAN        | GUINESS     | 2006-02-15 04:34:33 |
|       91 | CHRISTOPHER | BERRY       | 2006-02-15 04:34:33 |
|       92 | KIRSTEN     | AKROYD      | 2006-02-15 04:34:33 |
|       93 | ELLEN       | PRESLEY     | 2006-02-15 04:34:33 |
|       94 | KENNETH     | TORN        | 2006-02-15 04:34:33 |
|       95 | DARYL       | WAHLBERG    | 2006-02-15 04:34:33 |
|       96 | GENE        | WILLIS      | 2006-02-15 04:34:33 |
|       97 | MEG         | HAWKE       | 2006-02-15 04:34:33 |
|       98 | CHRIS       | BRIDGES     | 2006-02-15 04:34:33 |
|       99 | JIM         | MOSTEL      | 2006-02-15 04:34:33 |
|      100 | SPENCER     | DEPP        | 2006-02-15 04:34:33 |
|      101 | SUSAN       | DAVIS       | 2006-02-15 04:34:33 |
|      102 | WALTER      | TORN        | 2006-02-15 04:34:33 |
|      103 | MATTHEW     | LEIGH       | 2006-02-15 04:34:33 |
|      104 | PENELOPE    | CRONYN      | 2006-02-15 04:34:33 |
|      105 | SIDNEY      | CROWE       | 2006-02-15 04:34:33 |
|      106 | GROUCHO     | DUNST       | 2006-02-15 04:34:33 |
|      107 | GINA        | DEGENERES   | 2006-02-15 04:34:33 |
|      108 | WARREN      | NOLTE       | 2006-02-15 04:34:33 |
|      109 | SYLVESTER   | DERN        | 2006-02-15 04:34:33 |
|      110 | SUSAN       | DAVIS       | 2006-02-15 04:34:33 |
|      111 | CAMERON     | ZELLWEGER   | 2006-02-15 04:34:33 |
|      112 | RUSSELL     | BACALL      | 2006-02-15 04:34:33 |
|      113 | MORGAN      | HOPKINS     | 2006-02-15 04:34:33 |
|      114 | MORGAN      | MCDORMAND   | 2006-02-15 04:34:33 |
|      115 | HARRISON    | BALE        | 2006-02-15 04:34:33 |
|      116 | DAN         | STREEP      | 2006-02-15 04:34:33 |
|      117 | RENEE       | TRACY       | 2006-02-15 04:34:33 |
|      118 | CUBA        | ALLEN       | 2006-02-15 04:34:33 |
|      119 | WARREN      | JACKMAN     | 2006-02-15 04:34:33 |
|      120 | PENELOPE    | MONROE      | 2006-02-15 04:34:33 |
|      121 | LIZA        | BERGMAN     | 2006-02-15 04:34:33 |
|      122 | SALMA       | NOLTE       | 2006-02-15 04:34:33 |
|      123 | JULIANNE    | DENCH       | 2006-02-15 04:34:33 |
|      124 | SCARLETT    | BENING      | 2006-02-15 04:34:33 |
|      125 | ALBERT      | NOLTE       | 2006-02-15 04:34:33 |
|      126 | FRANCES     | TOMEI       | 2006-02-15 04:34:33 |
|      127 | KEVIN       | GARLAND     | 2006-02-15 04:34:33 |
|      128 | CATE        | MCQUEEN     | 2006-02-15 04:34:33 |
|      129 | DARYL       | CRAWFORD    | 2006-02-15 04:34:33 |
|      130 | GRETA       | KEITEL      | 2006-02-15 04:34:33 |
|      131 | JANE        | JACKMAN     | 2006-02-15 04:34:33 |
|      132 | ADAM        | HOPPER      | 2006-02-15 04:34:33 |
|      133 | RICHARD     | PENN        | 2006-02-15 04:34:33 |
|      134 | GENE        | HOPKINS     | 2006-02-15 04:34:33 |
|      135 | RITA        | REYNOLDS    | 2006-02-15 04:34:33 |
|      136 | ED          | MANSFIELD   | 2006-02-15 04:34:33 |
|      137 | MORGAN      | WILLIAMS    | 2006-02-15 04:34:33 |
|      138 | LUCILLE     | DEE         | 2006-02-15 04:34:33 |
|      139 | EWAN        | GOODING     | 2006-02-15 04:34:33 |
|      140 | WHOOPI      | HURT        | 2006-02-15 04:34:33 |
|      141 | CATE        | HARRIS      | 2006-02-15 04:34:33 |
|      142 | JADA        | RYDER       | 2006-02-15 04:34:33 |
|      143 | RIVER       | DEAN        | 2006-02-15 04:34:33 |
|      144 | ANGELA      | WITHERSPOON | 2006-02-15 04:34:33 |
|      145 | KIM         | ALLEN       | 2006-02-15 04:34:33 |
|      146 | ALBERT      | JOHANSSON   | 2006-02-15 04:34:33 |
|      147 | FAY         | WINSLET     | 2006-02-15 04:34:33 |
|      148 | EMILY       | DEE         | 2006-02-15 04:34:33 |
|      149 | RUSSELL     | TEMPLE      | 2006-02-15 04:34:33 |
|      150 | JAYNE       | NOLTE       | 2006-02-15 04:34:33 |
|      151 | GEOFFREY    | HESTON      | 2006-02-15 04:34:33 |
|      152 | BEN         | HARRIS      | 2006-02-15 04:34:33 |
|      153 | MINNIE      | KILMER      | 2006-02-15 04:34:33 |
|      154 | MERYL       | GIBSON      | 2006-02-15 04:34:33 |
|      155 | IAN         | TANDY       | 2006-02-15 04:34:33 |
|      156 | FAY         | WOOD        | 2006-02-15 04:34:33 |
|      157 | GRETA       | MALDEN      | 2006-02-15 04:34:33 |
|      158 | VIVIEN      | BASINGER    | 2006-02-15 04:34:33 |
|      159 | LAURA       | BRODY       | 2006-02-15 04:34:33 |
|      160 | CHRIS       | DEPP        | 2006-02-15 04:34:33 |
|      161 | HARVEY      | HOPE        | 2006-02-15 04:34:33 |
|      162 | OPRAH       | KILMER      | 2006-02-15 04:34:33 |
|      163 | CHRISTOPHER | WEST        | 2006-02-15 04:34:33 |
|      164 | HUMPHREY    | WILLIS      | 2006-02-15 04:34:33 |
|      165 | AL          | GARLAND     | 2006-02-15 04:34:33 |
|      166 | NICK        | DEGENERES   | 2006-02-15 04:34:33 |
|      167 | LAURENCE    | BULLOCK     | 2006-02-15 04:34:33 |
|      168 | WILL        | WILSON      | 2006-02-15 04:34:33 |
|      169 | KENNETH     | HOFFMAN     | 2006-02-15 04:34:33 |
|      170 | MENA        | HOPPER      | 2006-02-15 04:34:33 |
|      171 | OLYMPIA     | PFEIFFER    | 2006-02-15 04:34:33 |
|      172 | GROUCHO     | WILLIAMS    | 2006-02-15 04:34:33 |
|      173 | ALAN        | DREYFUSS    | 2006-02-15 04:34:33 |
|      174 | MICHAEL     | BENING      | 2006-02-15 04:34:33 |
|      175 | WILLIAM     | HACKMAN     | 2006-02-15 04:34:33 |
|      176 | JON         | CHASE       | 2006-02-15 04:34:33 |
|      177 | GENE        | MCKELLEN    | 2006-02-15 04:34:33 |
|      178 | LISA        | MONROE      | 2006-02-15 04:34:33 |
|      179 | ED          | GUINESS     | 2006-02-15 04:34:33 |
|      180 | JEFF        | SILVERSTONE | 2006-02-15 04:34:33 |
|      181 | MATTHEW     | CARREY      | 2006-02-15 04:34:33 |
|      182 | DEBBIE      | AKROYD      | 2006-02-15 04:34:33 |
|      183 | RUSSELL     | CLOSE       | 2006-02-15 04:34:33 |
|      184 | HUMPHREY    | GARLAND     | 2006-02-15 04:34:33 |
|      185 | MICHAEL     | BOLGER      | 2006-02-15 04:34:33 |
|      186 | JULIA       | ZELLWEGER   | 2006-02-15 04:34:33 |
|      187 | RENEE       | BALL        | 2006-02-15 04:34:33 |
|      188 | ROCK        | DUKAKIS     | 2006-02-15 04:34:33 |
|      189 | CUBA        | BIRCH       | 2006-02-15 04:34:33 |
|      190 | AUDREY      | BAILEY      | 2006-02-15 04:34:33 |
|      191 | GREGORY     | GOODING     | 2006-02-15 04:34:33 |
|      192 | JOHN        | SUVARI      | 2006-02-15 04:34:33 |
|      193 | BURT        | TEMPLE      | 2006-02-15 04:34:33 |
|      194 | MERYL       | ALLEN       | 2006-02-15 04:34:33 |
|      195 | JAYNE       | SILVERSTONE | 2006-02-15 04:34:33 |
|      196 | BELA        | WALKEN      | 2006-02-15 04:34:33 |
|      197 | REESE       | WEST        | 2006-02-15 04:34:33 |
|      198 | MARY        | KEITEL      | 2006-02-15 04:34:33 |
|      199 | JULIA       | FAWCETT     | 2006-02-15 04:34:33 |
|      200 | THORA       | TEMPLE      | 2006-02-15 04:34:33 |
|      201 | Albert      | Einstein    | 2024-09-25 04:34:33 |
+----------+-------------+-------------+---------------------+